<template lang="">
  <comics 
    :comics="comics"
    :loading="loading">
  </comics>

</template>

<script>
import { Bus } from '../main.js'
import Comics from './Comics'
var md5 = require('md5')

export default {
  components: {
    'comics': Comics,
  },

  data () {
    return {
      loading: false,
      comics: [],
      reversed: [],
      showcomic: [],
      collection: {
        public_key: 'e3e08e0fed95fe8da941c6fecdc6d6fc',
        private_key: 'f299f2d10d3ccb60cfaf6b4abe3ae356c7c84b06'
      }
    }
  },

  computed: {
    hashed () {
      let concat = this.unixtime + this.collection.public_key + this.collection.private_key
      return md5(concat)
    },

    unixtime () {
      let datenow = Date.now()
      var ts = Math.floor(datenow / 1000)
      return ts
    }
  },

  created () {
    this.getComic()
  },

  methods: {
    getComic () {
      this.loading = true
      window.axios.get('https://gateway.marvel.com/v1/public/comics', {
        params: {
          apikey: this.collection.public_key,
          hash: this.hashed,
          dateDescriptor: 'thisWeek'
        }
      })
        .then(response => {
          this.loading = false
          this.reversed = response.data.data.results
          this.comics = this.reversed.reverse()

        }).catch(e => {
          console.log(e)
        })
    },

  }

}
</script>

<style lang="css">


</style>
