<template id="">
  <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">
        <img src="http://periodicovictoria.mx/wp-content/uploads/2017/04/banner-logo-marvel-2.jpeg" 
          alt="Logo">
      </a>
      <ul id="slide-out" class="side-nav">
        <li><div class="user-view">
          <div class="background">
            <img src="">
          </div>
          <a href="#!user"><img class="circle" src=""></a>
          <a href="#!name"><span class="white-text name"></span></a>
          <a href="#!email"><span class="white-text email"></span></a>
        </div></li>
        <li><a href="#!"><i class="material-icons"></i></a></li>
        <li><a href="#!">Second Link</a></li>
        <li><div class="divider"></div></li>
        <li><a class="subheader"></a></li>
        <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
      </ul>
      <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons"></i></a>
    </div>

  </nav>
</template>

<script> 
export default {

}
</script>

<style scoped>
.brand-logo img {
  height: 50px;
  width: 150px;
  margin-top: 5px;
  margin-right: 15px;
}

nav {
  background: white;
}


</style>
